<!--The content below is only a placeholder and can be replaced.-->

  <div class="container">
    <div class="page-header">
      <h1>Welcome to Westminster Library!</h1>
    </div>
  </div>







  <div class="navbar">

    <div class="subnav">
      <button class="subnavbtn">Add Items <i class="fa fa-caret-down"></i></button>

      <div class="subnav-content">
        <a routerLink="/add-books">Add Books</a>
        <a routerLink="/add-dvd">Add DVD's</a>

      </div>
    </div>


    <a routerLink="/borrow-item" routerLinkActive="active">Borrow Item</a>
    <a routerLink="/delete-item" routerLinkActive="active">Delete Item</a>
    <a routerLink="/view-item" routerLinkActive="active">View Item</a>
     <a routerLink="/return-item" routerLinkActive="active">Return Item</a>
    <a routerLink="/generate-report" routerLinkActive="active">Report</a>

    </div>
<br>
<br>
<p> "A mind Needs Books Just Like a Sword need Whetstone"</p>
          <p> -Tyrion Lanister</p>




