<!-- Delete Item form-->
<div class="delete">
  <button style="float: left"  class="button" value="back"><a href="/home">Back</a></button>
<h1>
  Please enter the Item ISBN to Delete an Item:
</h1>

<br>
<br>
<form [formGroup]="form3" style="text-align: center" (ngSubmit)="onSubmit()" >
  <label>Enter ISBN :</label>
  <input type="text"  formControlName="isbn"  size="15" placeholder="Enter ISBN No" required [(ngModel)]="isbn">
  <br>
  <button type="submit" >Submit </button>
</form>
<br>
<br>
<label>{{deleteItem}}</label>
<br>
<label>{{val}}</label>

</div>
